{% extends 'base.html' %}
{% block content %}
  <h1 class="m-3"><strong>DETAIL</strong></h1>
  <hr>
  <img src="{{movie.poster_url}}" alt="{{movie.title}}" width="500">
  <br>
  <h2 class="m-3"> {{ movie.title }} </h2>
  <h3 class="m-3"> Audience: {{ movie.audience }} </h3>
  <h3 class="m-3"> Release Date: {{ movie.release_date }} </h3>
  <h3 class="m-3"> Genre: {{ movie.genre }} </h3>
  <h3 class="m-3"> Score: {{ movie.score }} </h3>
  <h3 class="m-3"> {{ movie.description }} </h3>

  <form action="{% url 'movies:delete' movie.pk %}" method="POST">
    {% csrf_token %}
    <a href="{% url 'movies:edit' movie.pk %}" class="btn btn-link m-1">EDIT</a><button class="btn btn-link">DELETE</button>
  </form>
  <a href="{% url 'movies:index' %}" class="m-3">BACK</a>
{% endblock content %}