{% extends 'base.html' %}
{% block content %}

<h1 class="m-2"><strong>NEW</strong></h1>
<hr>
<form action="{% url 'movies:create' %}" method="POST">
  {% csrf_token %}
  <p>
    <label for="title" class="m-2">TITLE</label>
    <input type="text" id="title" name="title">
  </p>
  <p>
    <label for="audience" class="m-2">AUDIENCE</label>
    <input type="number" id="audience" name="audience"></input>
  </p>
  <p>
    <label for="release_date">RELEASE_DATE</label>
    <input type="date" id="release_date"  name="release_date">
  </p>
    <label for="genre" class="m-2">GENRE</label>
    <select id="genre" name="genre" class="m-2">
      <option value="comedy">코미디</option>
      <option value="molo">멜로</option>
      <option value="action">액션</option>
      <option value="horror">공포</option>
      <option value="drama">드라마</option>
      <option value="sf">SF</option>
      <option value="animation">애니메이션</option>
    </select>
  <br>
  <p>
    <label for="score" class="m-2">SCORE</label>
    <input type="number" step="0.01"  id="score" name="score">
  </p>
  <p>
    <label for="poster_url" class="m-2">POSTER_URL</label>
    <input type="url" id="poster_url" name="poster_url"></input>
  </p>
  <p>
    <label for="description" class="m-2">DESCRIPTION</label>
    <textarea name="description" id="description" cols="30" rows="5"></textarea></textarea>
  </p>        
  <input type="submit" value="Submit" class= "m-2">
</form>
<hr>
<a href=" {% url 'movies:index' %} " class= "m-2"> BACK </a> 
{% endblock content %}